.team-name-header {
    text-align: center;
    font-size: 4vmax;
    font-weight: 600;
    background: -webkit-linear-gradient(left,  #49BCE3, #1077C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.figure-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.players-list-wrapper {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
li {
    align-items: center;
    font-size: 1.5vmax;
}
.player {
    display: flex;

    font-size: 1.5vmax;
    font-weight: 600;
}


