<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../static/js/router.js"></script>
    <title>Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="dashboard-wrapper">
        <div class="dashboard-title">
            <h1 class="gradient-title">Welcome {{ username }}!</h1>
        </div>
        <div class="client-wrapper">
            {% if not team %}
            {% else %}
            <div class="user">
                <div class="user-details" team-data="{{ team[0][1] }}" onclick="getTeam('{{ team[0][1] }}')">
                        <img src="./static/assets/{{ team[0][2] }}.png" alt="flag" class="country-flag">
                    <div class="center-team">
                        <h2 class="favorite-team">You think <span class="team">{{ team[0][1] }}</span> will win!</h2>
                    </div>
                </div>
            {% endif %}
            {% if not player %}
            {% else %}
                <div class="user-player" team-data="Germany" onclick="getTeam('{{ player[0][2] }}')">
                    <img src="./static/assets/players.jpeg" alt="player" class="players-image">
                    <div class="center-player">
                        <h2 class="favorite-player">
                            Your favorite player
                            <span class="player">{{ player[0][1] }}</span>
                        </h2>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="update-information">
                {% if not team or player %}
                <h2 class="update">Add Information</h2>
                {% else %}
                <h2 class="update">Update Information?</h2>
                {% endif %}
                <div class="user-forms">
                    <div class="team-form">
                        <div class="form-subheader">Change Teams?</div>
                        <form action="/updateteam" method="POST">
                            <div class="form-update">
                                <input type="hidden" name="username" value="{{ username }}">
                                <select name="team" id="country-change">
                                    {% for country in countries %}
                                        <option value="{{ country[0] }}" name="team">{{ country[0] }}</option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Update" class="update-button">
                            </div>
                        </form>
                    </div>
                   
                    <div class="player-form">
                        <div class="form-subheader">Change Player?</div>
                        <form action="/getplayers" method="POST">
                            <input type="hidden" name="username" value="{{ username }}">
                            <div class="player-update">
                                <select name="team" id="country-change">
                                    {% if show %}
                                    <option value="none" selected disabled hidden>{{ selected_team }}</option>
                                    {% endif %}
                                    {% for country in countries %}
                                        <option value="{{ country[0] }}">{{ country[0] }}</option>
                                    {% endfor %}
                                    <input type="submit" value="Get Players" class="update-button">
                                </select>
                            </div>
                        </form>
                        {% if show %}
                        <br>
                            <form action="/updateplayer" method="POST">
                                <input type="hidden" name="username" value="{{ username }}">
                                <input type="hidden" name="team" value="{{ selected_team }}">
                                <div class="player-update">
                                    <select name="player" id="country-change">
                                        {% for player in players %}
                                            <option value="{{ player[1] }}">{{ player[1] }}</option>
                                        {% endfor %}
                                        <input type="submit" value="Update" class="update-button">
                                    </select>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        
    </div>
</body>
</html>